/* Responsive para móviles */
@media (max-width: 1000px) {
  .contenedor-contacto{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7rem !important;
    padding-bottom: 2rem!important;
  }

}